.txtbox { border:1px solid #CCC; height:19px; }
#panel { position:absolute; right:10px;  width:68%; background-color: #FFF; border:1px dotted #E5E5E5; padding:10px; top:70px}
#resizable { width: 50%;  background: #FFF; border: 1px solid #EBEBEB; height:440px; padding:10px; left:10px; width:250px;  min-width:250px; overflow:scroll; overflow-x:hidden }
.errMsg {	color: #F00;}.title-bar{width:98%; background:url(../images/hd.png); height:68px; margin-left:10px; padding-top:13px}
.wrapper{ width:98%; margin-left:10px; }
.cont{ width:98%; border:1px solid #EEE; padding:10px; min-height:300px; position:relative; overflow:auto;}
.input { border:1px solid  #666; height:17px }
.btn { border:1px solid  #666; height:30px; color:#666 }
.errorMsg { color:#F30; }
.txtWhite { color: #FFF; }
#nonCategorisedPages { width:98%;padding:5px; position:relative; }
#nonCategorisedPages ul {list-style: none; margin: 0; padding: 5px;}
#nonCategorisedPages li {height:30px; padding:5px}
#nonCategorisedPages li a:link{display: block;padding: 5px 5px 5px 5px; color: #3CF}
#nonCategorisedPages li a:hover{ color:#F60}